<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js App</title>
    <script src="https://unpkg.com/vue@2"></script>
</head>

<body>
    <header>
        <h1>Welcome to My Vue.js App</h1>
    </header>

    <main>
        <div id="app">
            <p v-if="isVisible">Hannah ist hier</p>
            <p v-for="item in items" :key="item.id">{{ item.name }}</p>
            <button v-on:click="handleClick">
                <div v-if="isVisible">Noch einmal Verstecken spielen</div>
                <div v-else>Wo ist Hannah?</div>
            </button>
        </div>
    </main>

    <footer>
        <p>© 2023 My Vue.js App</p>
    </footer>

    <script>
        new Vue({
            el: '#app',
            data: {
                isVisible: true,
                items: [
                    { id: 0, name: 'Steffi' },
                    { id: 1, name: 'Hans' },
                    { id: 2, name: 'Ulla' },
                    { id: 3, name: 'Peter' },
                ],
            },
            methods: {
                handleClick: function () {
                    this.isVisible = !this.isVisible
                }
            }
        })        
    </script>
</body>

</html>