<!DOCTYPE html>
<html lang="de">
<!-- 
  Originally from teacher (Christian Heisch) in 2023
  Originally used Vue version 3.3.4, updated to Vue 3.5.18 (2025-07-25)
  Uses vue.esm-browser-3-5-18.js
-->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Titel</title>
  <style>
    .container {
      position: relative;
      display: block;
      padding: 5px;
      margin: 5px;
      background: #eee;
      border: 1px solid #aaa;
      border-radius: 5px;
    }
  </style>

  <script type="module">
    'use strict';

    import { createApp } from './vue.esm-browser-3-5-18.js';

    createApp({
      data() {
        // Um sicherzugehen, dass alle Instanzen dieser Komponente individuell sind, 
        // wird data als Return einer Funktion erzeugt. Es wird ein Objekt zurückgegeben,
        // das die Daten enthält.
        return {
          x: 25,
          y: 14
        }
      }
    }).mount('#app');

  </script>
</head>

<body>
  <h1>Use bidirectional databinding on variables</h1>
  <main>

    <div id="app" class="container">
      <!-- In einer Expression können die Variablen aus der App angesprochen werden -->
      We get the variables from the app: x = {{ x }} and y = {{ y }}.
      <p>
        <!-- Die model-Direktive verknüpft die Eingabe mit der Variablen per bidirektionaler Datenbindung-->
        
        <label for="input-x">Enter value for x:</label>
        <input id="input-x" v-model="x" placeholder="Enter value for x" />

        <label for="input-y">Enter value for y:</label>
        <input id="input-y" v-model="y" placeholder="Enter value for y" />

       <!-- <input v-model="x" /> -->

        Calculate: x * y = {{ x * y }}
      </p>

      After changing the input fields, the variables and their representation on the page will be updated.
  </main>

</body>

</html>